# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ethereum-projects\26.05.2021_EthereumProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
